@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
}

h1 {
  color: #333;
}

.mapContainer {
  position: fixed;
}

a {
  text-decoration: none;
  color:#0070f3;
} */
